@import url("font-awesome-4.7.0/css/font-awesome.min.css");

body#atid-desktop {
    font-size: 13px;
    overflow-x: hidden;
    background-color: #EEE;
}



header {
    background-color: white;
}

#logo{
    text-decoration: none;
    font-size: 28px;
    letter-spacing: .1em;
    background-color: #D8335B;
    color: white;
    font-weight: bold;

    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
}

ul.headerBar {
    color: white;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
ul.headerBar li {
    padding: 12px 0px 0px;
    color: #D8335B;
}
ul.headerBar h2 {
    line-height: 1.42857143;
    font-size: 13px;
    margin-top: 0px;
}
ul.headerBar #institute, ul.headerBar #course {
    position: relative;
}

ul.headerBar #institute::after, ul.headerBar #course::after {
    content: '';
    width: 1px;
    height: 50px;
    background-color: rgba(215,215,215,.8);
    position: absolute;
    right: 15px;
    top: 10px;
}

ul.headerBar #course .courseName {
    display: block;
    font-weight: bold;
    font-style: normal;
}
#userInfo h4, #userInfo h5 {
    font-size: 13px;
    line-height: 1.42857143;
}
#userInfo .media img.media-object {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

#userInfo #logout {
    background: white;
    border: solid 1px #D8335B;
    border-radius: 8px;
    font-size: 18px;
    color: #D8335B;
}

#control-tools {
    padding-top: 6px;
    padding-bottom: 0px;
    border-top: solid 1px #FFF;
    
    /* display: none;*/
}

#control-tools li {
    margin-right: 2px;    
}
#control-tools li:first-child {
    margin-left: 10px;
}
#control-tools li button {
    border: none;
    background-color: transparent;
    opacity: 0.7;
}

#control-tools li button:hover {
    opacity: 1;
}

#control-tools li:last-child {
    float: right;
    margin-right: 100px;
}

#atid-desktop #drawingArea {
    background-color: transparent;
    position: relative;
    
    /* margin-top: 20px; */
}

#drawingArea #drawTools {
    /*
    position: absolute;
    left: 25px;
    top: 60px;
    */
    padding: 6px;
    border: none;
    background: transparent;
    z-index: 90;
}
#drawingArea #drawTools label {
    display: block;
    text-align: center;
    padding: 6px;
}

#drawingArea #drawTools label.currentTool {
    background-color: rgb(245,245,245);
}

#drawingArea #drawTools input.tool {
    display: none;
}

#drawingArea #drawTools input.tool + img {
    width: 34px;
    height: 34px;
    margin-bottom: 1px;
}

#drawingArea #drawTools .tool-title {
    color: #666;
    text-align: center;
    font-size: 9pt;
    vertical-align: bottom;
    font-weight: 300;
    margin-bottom: 0px;
}

canvas {
    margin: 0;
    padding: 0;
    position: relative;
    top: 0;
    left: 0;
    border: solid 1px white;
    border-radius: 8px;
    z-index: 80;
    background-color: white;
    box-shadow: 0px 1px 6px rgba(30,30,30,.2);
}

#descriptionInput {
    padding: 30px;
    background-color: white;
    color: black;
    width: 220px;
    height: auto;
    
    border: solid 1px #D8335B;
    
    position: absolute;
    top: 0;
    left: 0;
    z-index: 95;
}

