@import url("font-awesome-4.7.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,700|Raleway:400,400i,700');

body#atid-desktop {
    font-size: 13px;
    font-family: 'Raleway', 'Helvetica', 'Segoe UI', Arial, Verdana, sans-serif;
    overflow-x: hidden;
    background-color: #f9f6f6;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#atid-desktop h1,
#atid-desktop h2,
#atid-desktop h3 {
    color: #444;
    text-transform: uppercase;
}

#networkCounter {
    padding-left: 22px;    
}

#networkCounter::before {
    content: '';
    width: 0px;
    height: 0px;
    padding: 4px 0px 0px 1px;
    font-size: 14pt;
    background-color: rgba(30,30,30,.2);
    position: relative;
    right: 14px;
    color: rgba(30,30,30,.2);
}

#atid-desktop header {
    padding: 0%;
    width: 100%;
    margin: 0;
    float: left;
}

#logo{
    text-decoration: none;
    font-size: 22px;
    letter-spacing: .1em;
    background-color: white;
    color: #D8335B;
    font-weight: bold;
    font-family: 'Monstserrat', sans-serif;
    text-align: center;
    padding-top:8px;
    padding-bottom: 8px;
}


#atid-desktop header a#logo {
    float: left;
    max-width: 119px;
}

#atid-desktop #logo .logo-img {
    width: 100%;
}


ul.headerBar {
    float: right;
    color: white;
    padding: 8px;
    margin: 0px;
    max-width: 800px;
    width: 300px;
}
ul.headerBar li {
    padding: 6px 0px 0px;
    color: #444;
    display: inline-block;
}
ul.headerBar h2 {
    line-height: 1.42857143;
    font-size: 13px;
    margin-top: 0px;
}
ul.headerBar #institute, ul.headerBar #course {
    position: relative;
}

ul.headerBar #institute::after, ul.headerBar #course::after {
    content: '';
    width: 1px;
    height: 50px;
    background-color: rgba(215,215,215,.8);
    position: absolute;
    right: 15px;
    top: 10px;
}

ul.headerBar #course .courseName {
    display: block;
    font-weight: bold;
    font-style: normal;
}

#userInfo h4, #userInfo h5 {
    font-size: 13px;
    font-weight: bold;
    line-height: 1.2;
}

#userInfo #userRole {
    color: #777;
    font-weight: normal;
}

#userInfo .media img.media-object {
    border-radius: 12%;
    width: 32px;
    height: 32px;
    margin-right: 0px;
}




#control-tools {
    width: 100%;
    padding: 8px 0px;
    border-top: solid 1px #FFF;
    float: left;
}

#control-tools .save {
    float: right;
    margin-right: 10px;
}




#atid-desktop #drawingArea {
    background-color: transparent;
    position: relative;
    width: 100%;
    min-width: 980px;
    float: left;
}

    #drawingArea #drawTools {
        padding: 6px;
        margin: 0;
        width: 6%;
        border: none;
        background: transparent;
        z-index: 90;
        float: left;
    }

    #drawingArea #drawTools label {
        display: block;
        text-align: center;
        padding: 6px;
        transition: all ease-in-out .3s;
        border: solid 1px transparent;
    }
    #drawingArea #drawTools label:hover, #drawingArea #drawTools label:focus {
        border: solid 1px #999;
        border-radius: 8px;
        /*background-color: rgb(255,255,255);*/
        transition: all ease-in-out .3s;
    } 
    #drawingArea #drawTools label:active {
        transform: scale(0.98);
        transition: all ease-in-out .1s;
    }

    #drawingArea #drawTools label.currentTool {
        border: solid 1px #444;
        border-radius: 8px;
    }

    #drawingArea #drawTools label.currentTool .tool-title {
        font-weight: 700;
    }

    #drawingArea #drawTools input.tool {
        display: none;
    }

    #drawingArea #drawTools input.tool + img {
        width: 26px;
        height: 26px;
        margin-bottom: 1px;
    }

    #drawingArea #drawTools .tool-title {
        color: #666;
        text-align: center;
        font-size: 9pt;
        vertical-align: bottom;
        font-weight: 300;
        margin-bottom: 0px;
    }

    #drawScreen {
        float: left;
        width: 93%;
        height: 550px;
        overflow: auto;
        background-color: white;
        border: solid 1px white;
        border-radius: 8px;
        box-shadow: 0px 1px 6px rgba(30,30,30,.2);
    }

    #boardSVG {
    }

        #descriptionInput {
            padding: 8px 16px;
            background-color: #D8335B;
            border-radius: 12px;
            color: #FEFEFE;
            width: 280px;
            height: auto;
            
            border: solid 1px white;
            
            position: fixed;
            top: 100px;
            right: 8px;
            z-index: 95;

            transition: width linear .3s;
        }

        #atid-desktop #descriptionInput.hidden {
            width: 0px;
            transition: width linear .3s;
        }

        #descriptionInput .input-group {
            margin-bottom: 8px;
        }

#atid-desktop .btn-edit {
    background-color: #D8335B;
    color:white;
}
#atid-desktop .btn-edit:hover{
    background-color: #cc3056;
}

#atid-desktop .btn {
    border-radius: 20px;
    border-width: 1px;
    border-style: solid;
    padding: 5px 12px;
    font-size: 13px;
    text-transform: uppercase;
}
#atid-desktop .btn:hover, #atid-desktop .btn:active, #atid-desktop .btn:focus {
    border: solid 1px;
}

#logout {
    background-color: white;
    color: indianred;
}
.btn#logout:hover, .btn#logout:active, .btn#logout:focus {
    background-color: indianred;
    color: white;
}
#networks {
    padding-top: 12px;
}
#networks::before {
    content: '';
    padding: 0px 100% 0px 0px;
    background-color: rgba(30,30,30,.1);
    position: relative;
    bottom: 6px;
    color: aliceblue;
    right: 0px;
    width: 100%;
    border-top: solid 1px rgba(30,30,30,.1);
    height: 0px;
    font-size: 0em;
}

#networks > li {
    list-style: none;
}

#networks .panel-title {
    font-weight: bold;
    color: #D8335B;
}

#networks .panel-footer {
    background-color: white;
}

#atid-desktop .draggable {
    cursor: move;
}

